/*@font-face {
	font-family: ysFont;
	font-display: swap;
	src: url(https://act.hoyoverse.com/ys/event/survey-collection/fonts/default.4b9a2491.ttf)
}
@font-face {
	font-family: ys;
	font-display: swap;
	src: url(https://act.hoyoverse.com/ys/event/survey-collection/fonts/default.4b9a2491.ttf)
}*/

.hyl-group-b[data-route-name$=newArticle-view_type] .article-menu-fix-layout {
	transform: translateX(-280px);
	width: 280px;
}